<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas as Vagas - Conecta</title>
    <link rel="stylesheet" href="../static/css/home/homef.css">
</head>
<body>
{% extends "menu.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Todas as Vagas</h1>
            <p>Veja todas as vagas disponíveis no Conecta</p>
        </div>
    </div>

    <!-- Tabela de vagas recomendadas -->
    <div class="row">
        <div class="col-md-12">
            <h2>Vagas recomendadas</h2>
        </div>
            
        <!-- listar vagas -->

















{% endblock %}
</body>
</html>